version: '3.8'

services: 
    mysql:
        image: mysql:8.0.24
        ports: 
            - "3306:3306"
        environment: 
            MONGO_INITDB_ROOT_USERNAME: david
            MYSQL_ROOT_PASSWORD: 123456


# docker run -p 3306:3306 -e MYSQL_ROOT_PASSWORD=my_password -e MYSQL_DATABASE=people -d mysql
# docker exec -it romantic_cohen mysql -uroot -p

#ALTER USER root IDENTIFIED WITH mysql_native_password BY 'my_password';
#flush privileges;

# create database portal_noticias;
# use portal_noticias;
# create table noticias ( id_noticia int not null primary key auto_increment, titulo varchar(100), noticia text, data_criacao timestamp default current_timestamp, resumo varchar(100), autor varchar(30), data_noticia date);
# insert into noticias(titulo, noticia) values ('Galo Campeão', 'Clube Atletico Mineiro é campeão do Brasileirão de 2021');
# insert into noticias(titulo, noticia) values ('Maria rebaixada', 'As marias continuam na serie B');